body {
    background-color: #667743;
}

input {
    padding: 20px 20px 20px 30px;
    /* font-size: 25px; */
}

.btn {
    padding: 6px 21px;
}

.btn1 {
    padding: 76px 20px;
    background-color: rgb(92, 92, 240);
    border: none;
}